* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffe7bb;
}

header {
    background-color: #fad083;
    color: #fff;
    padding: 10px 20px;
}

.logo img {
    max-width: 140px;
    margin: 10px;
}

/* Estilos para las secciones */
section {
    padding: 40px;
    text-align: center;
}

/* Estilos para botones */
.btn {
    display: inline-block;
    margin-left: 40%;
    width: 20%;
    text-align: center;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    background-color: #ffd485;
    color: #000000; 
}

.bton {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.bton:hover {
    background-color: #ffd485;
    color: #000000; 
}

.bton2 {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;

}

.bton2:hover {
    background-color: #ffd485;
    color: #000000; 
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 1px;
    text-align: center;
}

.inputs {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 7px;
}

.precio {
    font-weight: bold;
    color: #FFA500;
}

/* Estilos para formularios */
form {
    margin: 0 auto;
    max-width: 400px;
    margin-top: 20px;
}

form label,
form input {
    display: block;
    margin-bottom: 10px;
}

.nombremenu {
    font-size: 30px;
}

.clickaqui {
    text-decoration: none;
}

.promociones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
} 

.promocion {
    border: 1px solid #ffbe82;
    padding: 60px;
    margin: 30px;
    text-align: center;
    width: 35%;
}

.precio {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ff6600;
}

.copyright {
    text-align: center;
    font-size: 20px;
    padding: 7px; 
    font-style: italic;
}

footer {
    background-color: #ffdea1;
}

.promo {
    font-size: 18px;
}

.promonumero {
    font-size: 24px;
    color: #ff3c00;
}

.p__index {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p__index1 {
    text-align: center;
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.h3s {
    margin: 20px;
    text-align: center;
}

.integrantes {
    margin: 50px;
    font-size: 20px;
}

.mapadiv {
    border: 3px solid rgb(255, 186, 106);
    display: flex;
    margin: 3vh auto;
    width: 75%;
}

.mapa {
    width: 100%;
}

.redesSocialesIg {
    display: inline-block;
    margin: 4px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: 0.7s;
}

.redesSocialesIg:hover{
    transform: rotate(-360deg) scale(1.35);
}

.redesSocialesFb {
    display: inline-block;
    color: rgb(0, 110, 255);
    text-decoration: none;
    transition: 0.7s;
    margin: 4px;
}

.redesSocialesFb:hover{
    transform: rotate(360deg) scale(1.35);
    color: rgb(0, 110, 255);
}

.redesSocialesTw {
    display: inline-block;
    color: rgb(0, 183, 255);
    text-decoration: none;
    transition: 0.7s;
    background-clip: text;
    margin: 4px;
}


.redesSocialesTw:hover{
    transform: rotate(-360deg) scale(1.35);
    color: rgb(0, 183, 255);
}


.redesSocialesTk {
    display: inline-block;
    transition: 0.7s;
    margin: 4px;
}

/* no tocar el vertical align */

.redesSocialesTk img{
    vertical-align: sub;
}

.redesSocialesTk:hover{
    transform: rotate(360deg) scale(1.35);
}

.navRedes {
    text-align: center;
}

.liRedes {
    display: inline-block;
    text-decoration: none;
    margin-top: 2vh;
    margin-right: 20px;
}

.nav-link{
    transition: 0.5s;

}

.nav-link:hover{
    color: rgb(255, 81, 0) !important;
    transform: scale(1.15);
}

.nav-item{
    font-size: 20px;
}


.active{
    color: black !important;
    transition: 0.4s;
}

.active:hover{
    color: rgb(80, 80, 80) !important;
}
