header {
    background-color: map-get($colores, header);
    color: #fff;
    padding: 10px 20px;
    .logo img{
        max-width: 140px;
        margin: 10px;
    }
    div{
        .nav-item{
            font-size: 20px;
            .nav-link{
                transition: 0.5s;
                &:hover{
                    color: rgb(255, 81, 0) !important;
                    transform: scale(1.15);
                }
            }
            .active{
                color: black !important;
                transition: 0.4s;
                &:hover{
                    color: rgb(80, 80, 80) !important;
                }
            }
        }  
    }
}
